X_API_KEY=LBttVQTXxnPGp7QmXj9crcOSd
X_API_SECRET=rmcTs0gHheS17WhtBY3y9Ca0CtvSpVAGdAbuIgF6Ttezx9U8PC
X_ACCESS_TOKEN=1995751066701627394-KadRGDXOHOSw6v4D2OyGGcrnAT4eY7
X_ACCESS_TOKEN_SECRET=9VMSx34xQwegMPhEBXAPBpQr5cNPDCYUdvC57FedpWBzU

OPENAI_API_KEY=your_openai_api_key
