X_API_KEY=p2pNMK9lfvig19XEYidgkJjvl
X_API_SECRET=HeIGsiFZSjUCleGOFdxCJI3yQtjd7W6QNpBIdUvFCeAOxHuD1P
X_ACCESS_TOKEN=1986066485241135104-pIGmBj4OKkPvFeyjOCYXnw8qvjdof6
X_ACCESS_TOKEN_SECRET=HP2fGsiYv6Lr11Zlc8r1d4TbL5d22JhxRIdeEDSk4o8uu

OPENAI_API_KEY=your_openai_api_key

SPREADSHEET_ID=1p0p_QNN79JiA_ir0kXfrlOtRYI8gm7xOuT7MZosOiIc